<!DOCTYPE html>
<html>
<head>
  <title>Javascript Tetris</title>
  <link rel="stylesheet" href="static/css/wupato.css">
</head>

<body>

  <div id="tetris">
    <div id="menu">
      <p id="start"><a href="javascript:play();">Press Space to Play.</a></p>
      <p><canvas id="upcoming"></canvas></p>
      <p>score <span id="score">00000</span></p>
      <p>rows <span id="rows">0</span></p>
    </div>
    <canvas id="canvas">
      Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
    </canvas>
  </div>
  <div>
    <form id="chatbox">
     <textarea></textarea>
     <input type="submit" value="Send" />
   </form>
   <ul id="messages"></ul>
 </div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="static/js/stats.js"></script>
 <script src="static/js/wupato.js"></script>
 <script>run();</script>

</body>
</html>
